body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.5em;
}

.navbar {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    color: rgb(255, 60, 0);
}

.logo {
    font-size: 2em;
    margin: 0;
    width: 180px;
}


.navbar ul li {
    display: inline;
    margin-right: 2em;
    font-weight: 600;
}

.navbar a {
    text-decoration: none;
    color: rgb(0, 139, 253);
}

.navbar a:hover {
    text-decoration: none;
    color: rgb(253, 93, 0);
}

.meny {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 14px;
}

.meny-rubrik {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    margin: 1em;
    color: rgb(253, 93, 0);
}

.meny-course {
    text-align: left;
    margin-bottom: 20px;
    font-size: 2em;
    margin: 1em;
    color: rgb(253, 93, 0);
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.meny-grupp {
    display: grid;
    grid-template-columns: 1fr;
    /*Each grupp take up one free ramaining space. Each group takes full width of meny-group   */
    gap: 1.5em;
    padding: 1.5em 0;
}

.artiklar {
    display: flex;
    transition: background 0.5s, transform 0.5s;
    padding: 25px;
    border-radius: 1.5em;
}

.artiklar:hover {
    background-color: #e4e5e6;
    transform: translateY(-10px);
}

.artikel-img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 1.5em;
}

.description-swedish {
    line-height: 1.5;
}

.description-title {
    line-height: 1.5;
    font-style: italic;
    text-transform: uppercase;
}

.description-english {
    line-height: 1.5;
    font-style: italic;
}

.meny-text {
    flex-grow: 1;
}

.artikel-namn {
    margin-right: 20px;
}

.meny-text {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

footer p {
    text-align: center;
    bottom: 0;
    margin: 0;
}

/* Filter Menu */
.filterbtn {
    float: right;
    background-color: #0468aa;
    color: white;
    padding: 14px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 20px;;
}

.filterbtn:hover,
.filterbtn:focus {
    background-color: #c45927;
}

.dropdown {
    float: right;
    position: relative;
    
}

.filter-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
    float: right;
   
    border-top: 1px solid #0468aa;
}

.filter-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #0468aa;
    font-weight: bold;
    cursor: pointer;
    
}

.filter-content p:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

/* ------------------------------------------- */

@media screen and (min-width: 992px) {
    .meny {
        font-size: 16px;
    }

    .meny-grupp {
        grid-template-columns: repeat(2, 1fr);
        /* two evenly size columns*/
    }

    .artikel-img {
        width: 200px;
        height: 200px;
    }
   

    footer p {
        text-align: center;
        bottom: 0;
        margin: 0;
        font-size: 10px;
    }
}